/* 초기 상태 */
.card {
  opacity: 0;
  transform: scale(0.9); /* 작게 시작 */
  animation: scaleIn 0.5s ease forwards;
}

/* 순차 애니메이션 */
.card:nth-child(1) {
  animation-delay: 0.1s;
}
.card:nth-child(2) {
  animation-delay: 0.2s;
}
.card:nth-child(3) {
  animation-delay: 0.4s;
}
.card:nth-child(4) {
  animation-delay: 0.3s;
}
.card:nth-child(5) {
  animation-delay: 0.2s;
}
.card:nth-child(6) {
  animation-delay: 0.15s;
}
/* 확대 효과 애니메이션 정의 */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* 전체 컨테이너 스타일 */
.game-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 헤더 스타일 */
.game-select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

/* 타이틀 스타일 */
.game-select-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

/* 나가기 버튼 스타일 */
.exit-button {
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exit-button:hover {
  background-color: #ff6b81;
}

/* 카드 그리드 컨테이너 */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 행에 3개의 카드 */
  gap: 1.5rem; /* 카드 간격 */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 카드 기본 스타일 */
.card {
  background: linear-gradient(
    135deg,
    rgb(255, 221, 234) 0%,
    rgba(255, 236, 210, 1) 50%,
    rgba(255, 255, 233, 1) 100%
  );
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  text-align: center;
  padding: 1rem;
}

.card:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 233, 1) 0%,
    rgba(255, 236, 210, 1) 50%,
    rgb(255, 222, 235) 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05); /* 카드가 살짝 커짐 */
}

/* 카드 이미지 */
.card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

/* 카드 제목 */
.card-title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 0.5rem;
  color: #373f51;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* 한 행에 2개의 카드 */
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr; /* 한 행에 1개의 카드 */
  }
}
