/* 스토리 목록을 한 줄로 설정하고 스크롤 가능하게 */
.story-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: auto;
  flex-wrap: nowrap; /* 줄 바꿈 금지 */
  padding: 0rem; /* 전체 여백 */
  width: 100%;
  gap: 0.5rem;
}

/* 각 스토리 카드 스타일 */
.story-card {
  height: auto; /* 높이를 자동으로 설정 */
  box-sizing: border-box;
  background-color: #fff2a5;
  border-radius: 6px; /* 둥근 모서리 축소 */
  box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.1); /* 그림자 크기 줄임 */
  padding: 0.2rem; /* 내부 여백 축소 */
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.2s;
  transform: scale(0.97);
}

.story-card:hover {
  box-shadow: 4px 8px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* 크기엔 영향없음*/
.story-image {
  width: 100%;

  object-fit: cover;
  border-radius: 6px; /* 이미지 모서리 축소 */
}

/* 스토리 제목 스타일 : */
.story-title-sg {
  color: #4f0404; /* 검정색 */
  font-weight: 600;
  margin-top: 0.3rem; /* 위 여백 줄임 */
  margin-bottom: 0rem; /* 아래 여백 제거 */
  font-size: 1.05rem; /* 글자 크기 약간 축소 */
  line-height: 1.4; /* 줄 간격을 약간 줄임 */
}

/* 게시물 목록 상하 스크롤과 버튼 포함 영역 */
.posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  padding: 0.3rem 0; /* 상하 여백 축소 */
  margin-top: 0.3rem; /* 위쪽 간격 최소화 */
  gap: 0.3rem; /* 버튼과 리스트 간격 축소 */
}

/* 게시물 리스트 스타일 */
.posts-list-scroll {
  flex: 1;

  overflow: auto;
  padding: 0.3rem 0; /* 내부 여백 최소화 */
  margin: 0; /* 추가 여백 제거 */
}

/* 게시물 스타일 */
.post-link-sg {
  display: block;
  background-color: #ffffff;
  border-radius: 6px; /* 둥근 모서리 축소 */
  padding: 0.6rem; /* 내부 여백 축소 */
  margin-bottom: 0.3rem; /* 게시물 간 간격 축소 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 크기 축소 */
  transition: background-color 0.2s;
  text-decoration: none;
}

.post-link-sg:hover {
  background-color: #f0f4f8;
}

.post-title {
  font-size: 1.5rem; /* 제목 크기 축소 */
  font-weight: 600;
  color: #526fa1;
  margin-bottom: 0rem; /* 제목과 작성자 간의 간격 축소 */
}

/* 게시물 작성자와 업로드 시간 포함 영역 */
.post-meta {
  display: flex;
  justify-content: space-between; /* 좌우로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  color: #9c9e9a; /* 텍스트 색상 */
  font-size: 1rem; /* 텍스트 크기 축소 */
  margin-top: 0rem; /* 위쪽 여백 최소화 */
}

/* 작성자 스타일 */
.post-author {
  margin: 0; /* 기본 여백 제거 */
  flex: 1; /* 작성자 텍스트가 왼쪽에 정렬 */
}

/* 업로드 시간 스타일 */
.post-time {
  margin: 0; /* 기본 여백 제거 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  text-align: right; /* 오른쪽 정렬 */
}

/* 전체 게시물 보기 버튼 포함 영역 */
.show-all-button-container {
  text-align: center;
  margin-top: 0rem; /* 위쪽 여백 최소화 */
  margin-bottom: 0.3rem; /* 아래쪽 여백 축소 */
}

/* 전체 게시물 보기 버튼 */
.show-all-button {
  padding: 0.3rem 0.6rem; /* 버튼 크기 축소 */
  color: #ffffff;
  background-color: #3182ce;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.show-all-button:hover {
  background-color: #2b6cb0;
}
