@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 전체 페이지에 적용 */
body {
  font-family: 'HS-Regular', sans-serif;
}

/* 특정 클래스에 폰트 적용 */
.hakgyo-font {
  font-family: 'EF_jejudoldam', sans-serif;
  font-weight: 400; /* 지정된 굵기 적용 */
}

/* Full-page Background Style */
.full-page-bg {
  
  position: absolute; /* 배경 고정 */
  top: 0;
  left: 0;
  width: 100vw; /* 브라우저 너비 전체 */
  height: 100vh; /* 브라우저 높이 전체 */
}

.small-main-box {
  position: absolute; /* 배치 */
  top: 11%;
  left: 10%;
  width: 65%;
  height: 80%;
  
  padding: 40px;
}

.big-main-box {
  position: absolute; /* 배치 */
  top: 50%;
  left: 45%;
  transform: translate(-50%, -48%);
  width:70%;
  height: 80%;
  
  
}
.big-main-box > div {
  transform: scale(0.8); /* 콘텐츠 축소 */
  transition: transform 0.3s ease-in-out; /* 축소할 때 애니메이션 추가 */
}

.boxes-align {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 18px;
  position: absolute;
  top: 48%;
  left: 83%;
  transform: translate(-50%, -48%);
  width: 250px;
  height: 80%;
}

/*/////////////////////////small///////////////////////////*/
/* Board Link Button */
.board-link-button {
  background-color: white;
  padding: 5px;
  width: 55%;
  height: 50px;
  border: 4px solid #c8a2c8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  text-align: center;
  font-size: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* Profile Box */
.profile-box {
  
  background-color: white;
  padding: 5%;
  width: 70%;
  border: 4px solid #c8a2c8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  text-align: center;
  flex-wrap: wrap; /* 줄바꿈 활성화 */
  gap: 5px;
}

.profile-box .profile-icon {
  width: 30px;
  border-radius: 50%; /* 원형으로 만들기  */
}

.profile-box .profile-name {
  margin-left: 8px;
  font-weight: 600;
}

.profile-box .profile-email {
  font-size: 80%;
  font-weight: 400;
}



/*/////////////////////////big///////////////////////////*/
/* Post List Box */
.post-list-box {
 
  background-color: white;
  padding: 16px;
  width: 70%;
  height: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.post-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 100%;
}

/* User List Box */
.user-list-box {
  align-items: center;
  background-color: white;
  padding: 16px;
  width: 70%;
  height: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 120%;
}

.user-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  
}
.user-item-flex {
  display: flex;
  align-items: center;
  gap: 8px; /* space-x-2 */
}

.user-list-item .user-name {
  font-size: 14px;
}

.user-list-item .status-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 80%;
  left: 50%;
  transform: translate(-30%, 20%);
}


/*공백, 엔터 포함한 동화 글*/
.preserve-spacing {
  white-space: pre-wrap; /* 줄바꿈과 공백 모두 유지 */
}