@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/*
font-thin: 폰트 두께가 100 (얇은 글꼴)
font-light: 폰트 두께가 300
font-normal: 폰트 두께가 400 (기본 굵기)
font-medium: 폰트 두께가 500
font-semibold: 폰트 두께가 600
font-bold: 폰트 두께가 700
font-extrabold: 폰트 두께가 800
font-black: 폰트 두께가 900 (가장 굵은 글꼴)
*/

.fixed-box {
  @apply w-[1100px] h-[612px]; /* 고정 너비 */
  background-color: #f3efe4; /* 아이보리 배경색 */
  @apply shadow-[0px_8px_16px_rgba(0,0,0,0.1)] relative; /* 그림자 효과 */
  @apply rounded-none; /* 모서리 둥글기 제거 */
}

/* 길이비율 9:5 */
/* 화면 너비가 1024px 이하일 경우 */
@media (max-width: 1024px) {
  .fixed-box {
    @apply w-[900px] h-[500px];
  }
}

/* 화면 너비가 768px 이하일 경우 */
@media (max-width: 768px) {
  .fixed-box {
    @apply w-[600px] h-[335px];
  }
}

/* 화면 너비가 매우 클 때 (예: 1440px 이상) */
@media (min-width: 1440px) {
  .fixed-box {
    @apply w-[1350px] h-[750px];
  }
}

/* 나의 프로필 박스 */
.profile-box {
  @apply absolute top-[10%] left-[80%] bg-white p-4 w-[200px] h-[50px] shadow-md; /* 박스 높이의 10% 위치, 박스 너비의 80% 위치 */
  @apply rounded-lg flex items-center gap-3;
}

.profile-box .profile-icon {
  @apply text-[20px];
}

.profile-box .profile-name {
  @apply text-[16px] font-semibold;
}

/* 실시간 사용자 목록 박스 */
.user-list-box {
  @apply absolute top-[18%] left-[80%] bg-white p-4 w-[200px] h-[200px] shadow-md; /* 박스 높이의 18% 위치, 박스 너비의 80% 위치 */
  @apply rounded-lg overflow-y-auto;
}

.user-list-item {
  @apply flex justify-between mb-2;
}

.user-list-item .user-name {
  @apply text-[16px];
}

.user-list-item .status-dot {
  @apply w-[16px] h-[16px] rounded-full;
}

/* 게시판 이동 버튼 */
.board-link-button {
  @apply absolute top-[50%] left-[80%] bg-white p-4 w-[200px] h-[50px] shadow-md text-center; /* 박스 높이의 50% 위치 */
  @apply text-[16px] font-semibold;
}

/* 최신 게시판 박스 */
.post-list-box {
  @apply absolute top-[58%] left-[80%] bg-white p-4 w-[200px] h-[200px] shadow-md; /* 박스 높이의 58% 위치 */
  @apply rounded-lg overflow-hidden;
}

.post-list-item {
  @apply flex justify-between mb-2;
}

/* 로그아웃 버튼 */
.logout-button {
  @apply absolute bottom-[20px] left-[30px] bg-white p-[12px_16px] shadow-md; /* 하단 20px, 왼쪽 30px 위치 */
  @apply rounded-lg;
}
